<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<div class="container">
    <h2>Marcas</h2>
    <a class="btn btn-primary" href="/admin/brands/new">Nova Marca</a>
    <hr>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th style="width:100px;">ID</th>
                <th>Título</th>
                <th style="text-align: center; width: 150px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <% brands.forEach(brand => { %>
                    <tr>
                        <th><%= brand.id %></th>
                        <th><%= brand.title %></th>
                        <th style="text-align: right;">
                        <a href="/admin/brands/edit/<%= brand.id %>" class="btn btn-warning btn-sm">Editar</a>
                        <form method="POST" action="/admin/brands/delete" style="display:inline;" onsubmit="ConfirmaExclusao(event, this)">
                              <input type="hidden" name="id" value="<%= brand.id %>">
                              <button class="btn btn-danger btn-sm">Deletar</button>
                        </form>
                        </th>
                    </tr>
                <% }) %>
            </tr>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %>


<script>
    function ConfirmaExclusao(event, form){
        event.preventDefault(); // impede que o formulario seja submetido ou enviado
        var decision = confirm("Deseja a exclusão desta categoria ?");
        if(decision){
            form.submit();
        }
    }
</script>