<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>


<div class="container">
    <h3 style="margin-left:20px;"> <span class="glyphicon glyphicon-user"></span> Novo Cliente</h3>
    <form method="post" action="/clientes/save">
        <div class="form-group col-md-6">
              <label>Nome</label>
              <input type="text" class="form-control" name="nome"  style="background-color: rgb(241, 180, 101); font-weight: bold;" > 
        </div>
        <div class="form-group col-md-6">
             <label for="">Categoria</label>
             <select name="categoryId" id="categoryId" class="form-control" style="background-color: rgb(243, 223, 197); font-weight: bold;">
                <% category.forEach(categorie => { %>
                    <option value="<%- categorie.id %>"><%- categorie.title %></option>
                <% }) %>
             </select>
        </div>
        <div class="form-group col-md-3">
              <label for="inputPassword4">CPF/CNPJ</label>
              <input type="text" class="cpfOuCnpj form-control" name="cpf_cnpj" placeholder="Nº do CNPJ ou CPF" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-3">
                <label for="inputPassword4">RG / Inscrição Estadual</label>
                <input type="text" class="form-control" name="rg_ie" placeholder="Nº da Inscrição Estadual ou RG" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-2">
            <label for="inputAddress2">Cep</label>
            <input type="text" class="form-control" id="cep" name="cep" placeholder="Cep" size="10" maxlength="9" onblur="pesquisacep(this.value);" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-4">
            <label for="inputAddress">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Rua x Nº 0" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-3">
            <label for="inputAddress2">Bairro</label>
            <input type="text" class="form-control" id="bairro"  name="bairro" placeholder="Bairo/vila/sitio/chácara/fazenda" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-2">
            <label for="inputAddress2">Cidade</label>
            <input type="text" class="form-control" id="cidade"  name="cidade" placeholder="nome da cidade" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-1">
            <label for="inputAddress2">Estado</label>
            <input type="text" class="form-control" id="estado"  name="estado" placeholder="Estado" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        
        <div class="form-group col-md-2">
            <label for="inputAddress2">Celular</label>
            <input type="text" class="form-control" id="celular" name="celular" placeholder="ex: (16) 99999-9999" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-2">
            <label for="inputAddress2">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="ex: (16) 99999-9999" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>
        <div class="form-group col-md-2">
            <label for="inputAddress2">Gênero</label>
                <select name="genero" id="genero" class="form-control" style="background-color: rgb(243, 223, 197); font-weight: bold;">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
              </select>
        </div>
        <div class="form-group col-md-8">
            <label for="inputAddress2">Email</label>
            <input type="text" class="form-control" name="email" placeholder="ex: cliente@email.com" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>

       

        <div class="form-group col-md-4">
            <label for="inputAddress2">Nome do Pai</label>
            <input type="text" class="form-control" name="nomepai" placeholder="Nome completo do Pai" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>

        <div class="form-group col-md-3">
            <label for="inputAddress2">Nome da Mãe</label>
            <input type="text" class="form-control" name="nomemae" placeholder="Nome completo da Mãe" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>

        <div class="form-group col-md-2">
            <label for="inputAddress2">Nascimento</label>
            <input type="date" class="form-control" name="nascimento" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>

        <div class="form-group col-md-1">
            <label for="inputAddress2">Dia</label>
            <select name="melhordia" id="melhordia" class="form-control" style="background-color: rgb(243, 223, 197); font-weight: bold;">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                
          </select>
        </div>
             
        <div class="form-group col-md-2">
            <label for="inputAddress2">Crédito</label>
            <input type="text" class="money2 form-control" name="credito" style="background-color: rgb(243, 223, 197); font-weight: bold;text-align: right;">
        </div>

        <div class="form-group col-md-2">
            <label for="inputAddress2">CNH</label>
            <input type="text" class="form-control" name="cnh" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>

        <div class="form-group col-md-2">
            <label for="inputAddress2">Categoria CNH</label>
            <input type="text" maxlength="3" class="form-control" name="cnh_categoria" style="background-color: rgb(243, 223, 197); font-weight: bold;">
        </div>


        <div class="row">

        </div>

     
        <div class="form-group col-md-1">
            <button class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
        </div>
        <div class="form-group col-md-1">
            <a href="/admin/clientes" class="btn btn-success"><span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar</a>
        </div> 

        
    </form>


</div>


<script>
    $(document).ready(function() {
        var options = {
        onKeyPress: function (cpf, ev, el, op) {
            var masks = ['000.000.000-000', '00.000.000/0000-00'];
            $('.cpfOuCnpj').mask((cpf.length > 14) ? masks[1] : masks[0], op);
            }
        }
        $('.cpfOuCnpj').length > 11 ? $('.cpfOuCnpj').mask('00.000.000/0000-00', options) : $('.cpfOuCnpj').mask('000.000.000-00#', options);
        $('#cep').mask('00000-000');
        $('#telefone').mask('(00) 0000-0000');
        $('#celular').mask('(00) 00000-0000');
        $('.money2').mask("#.##0,00", {reverse: true});
     
    
    });
    
</script>

<%- include('../../partials/footer.ejs') %>

