<%- include("../../partials/header.ejs") %> <%-
include("../../partials/homenavbar.ejs") %>

<div class="container">
  <div class="titulo">Alteração</div>

  <form action="/admin/products/update" method="post">
    <input type="hidden" name="id" value="<%= products.id %>">
    <div clas="form-group row"></div>
    <div class="form-group col-md-3">
      <label for="">Código de Fábrica</label>
      <input
        type="text"
        class="form-control"
        placeholder="Código de Referência"
        name="factory_code"
        autofocus
        value = "<%= products.factory_code %>"
      />
    </div>
    <div class="form-group col-md-2">
      <label for="">Código de Barras</label>
      <input
        type="text"
        class="form-control"
        placeholder="CodeBar"
        name="codebar"
        value="<%= products.codebar %>"
      />
    </div>
    <div class="form-group col-md-6">
        <label for="">Descrição do Produto</label>
        <input 
            type="text"
            class="form-control"
            placeholder="Description"
            name="full_description"
            maxlength="50" size="50"
            value="<%= products.full_description %>"
        />
    </div>
    <div class="form-gorup col-md-1">
        <label for="">Unidade</label>
        <select name="unitypro" class="form-control" value="<%= products.unitypro %>" >
            <option value="PC" <% if(products.unitypro==="PC") {%>selected <% } %> >PC</option>
            <option value="UN" <% if(products.unitypro==="UN") {%>selected <% } %> >UN</option>
            <option value="LT" <% if(products.unitypro==="LT") {%>selected <% } %> >LT</option>
            <option value="KG" <% if(products.unitypro==="KG") {%>selected <% } %> >KG</option>
            <option value="ML" <% if(products.unitypro==="ML") {%>selected <% } %> >ML</option>
            <option value="GR" <% if(products.unitypro==="GR") {%>selected <% } %> >GR</option>
        </select>
    </div>

    <div class="form-group col-md-4">
        <label for="">Descrição resumida</label>
        <input 
            type="text"
            class="form-control"
            placeholder="máx 20 caracteres"
            name="resume_description"
            maxlength="20" size="20"
            value="<%= products.resume_description %>"
        \>
    </div>
    <div class="form-group col-md-2">
        <label for="">Preço de Custo</label>
        <input 
            type="text"
            class="money2 form-control"
            placeholder="0,00"
            name="current_cost"
            style="text-align: right;"
            value="<%= products.current_cost %>"
        \>
    </div>
    <div class="form-group col-md-2">
        <label for="">Custo Médio</label>
        <input 
            type="text"
            readonly
            class="money2 form-control"
            placeholder="0,00"
            name="average_cost"
            style="text-align: right;"
            value="<%= products.average_cost %>" 
        \>
    </div>
    <div class="form-group col-md-2">
        <label for="">Última Compra</label>
        <input 
            type="date"
            readonly
            class="form-control"
            placeholder="00/00/0000"
            name="last_purchase"
            style="text-align: right;"
            value="<%= products.last_purchase %>"
   
            \>
    </div>
    <div class="form-group col-md-2">
        <label for="">Última Venda</label>
        <input 
            type="date"
            readonly
            class="form-control"
            placeholder="00/00/0000"
            name="last_exit"
            style="text-align: right;"
            value="<%= products.last_purchase %>"
        \>
    </div>
    <div class="form-group col-md-6">
        <label for="">Grupo</label>
        <select name="groupsproId" id="groupsproId" class="form-control" value="<%= products.groupsproId %>">
            <% groups.forEach(group => { %>
                <option value="<%- group.id %>" <% if(group.id==products.groupsproId) {%>selected <% } %> ><%- group.title %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="">Marca</label>
        <select name="brandId" id="brandId" class="form-control" value="<%= products.brandId %>">
            <% brands.forEach(brand => { %>
                <option value="<%- brand.id %>" <% if(brand.id==products.brandId) {%>selected <% } %>  > <%- brand.title %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label for="">Preço de Venda</label>
        <input 
            type="text"
            class="money2 form-control"
            placeholder="0,00"
            name="price"
            style="text-align: right;"
            value="<%= products.price %>"
            \>
    </div>

    <div clas="row"></div>

    <div class="form-group col-md-4">
        <label for="">Ultimo Cliente</label>
        <input 
            type="text"
            class="form-control"
            placeholder=""
            readonly
            name="last_client"
            value="<%= products.last_client %>"
        \>
    </div>

    <div class="row"></div>
    <div class="form-group col-md-1">
      <button class="btn btn-danger">
        <span class="glyphicon glyphicon-ok"></span> Salvar
      </button>
    </div>
    <div class="form-group col-md-1">
      <a href="/admin/products" class="btn btn-success"
        ><span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar</a
      >
    </div>

  </form>
</div>

<%- include("../../partials/footer.ejs") %>
